a {
  text-decoration: none;
}

/*flex主轴居中*/
.flex_column_center {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

/*主容器*/
.container {
  padding: 15px;
  .flex_column_center;
  .box {
    .flex_column_center;
    align-items: center;
    margin-top: 30px;
  }
}

/*按钮的默认样式*/
.btn {
  width: 100%;
  height: 100px;
  background-color: #4286f5;
  color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

/*文本的默认样式*/
.txt {
  font-size: 20px;
  text-align: center;
}